*{
    pointer-events: none;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin:0;
}

.container{
    box-sizing: content-box;
    align-self: center;
    border: 1px solid black;
    width: 90vh;
    height: 90vh;
    display: grid;
}

.buttons{
    display:flex;
}

input{
    pointer-events: all;
    height:20px;
    align-self: center;
}

button{
    pointer-events: all;
    margin: 10px 5px;
}

.cell{
    pointer-events: all;
}

.cellchosen{
    pointer-events: none;
}

.cellhover{
    background-color: red;
}